.config/nvim/plugged
.config/nvim/bundle/
.config/nvim/view
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Sublime/User/Sublundo/
**/*.sublundo-session
