[user]
	name = Lander Brandt
	email = landerbrandt@gmail.com
[core]
	excludesfile = /Users/lander/.gitignore_global
	editor = nvim
	attributesfile = /Users/lander/.gitattributes
[push]
	default = simple
[log]
  date = relative
[format]
  pretty = format:%h %Cblue%ad%Creset %ae %Cgreen%s%Creset
[color]
	ui = auto
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[diff]
	compactionHeuristic = true
	showUntrackedFiles = all
	tool = icdiff
[difftool]
	prompt = false
[difftool "icdiff"]
	cmd = icdiff --line-numbers $LOCAL $REMOTE
[merge]
	conflictstyle = diff3
[commit]
	verbose = true
	gpgSign = true
[alias]
	history = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	# Below taken from https://blog.scottnonnenberg.com/better-git-configuration/
	prune = fetch --prune
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
